<% if logged_in? %>
  <% if current_user == @user %>
    <% form_for(@tweet) do |f| %>
      <%= f.error_messages %>
    
      <p>
        <%= f.label :content, "What's happening?" %><br />
        <%= f.text_field :content %>
      </p>
      <p>
        <%= f.submit 'update' %>
      </p>
    <% end %>
  <% else %>
    <%= link_to "follow", followings_path(:following => {:followee_id => @user.id}), :method => :post %>
  <% end %>
<% end %>

<h1>Listing <%=h @user ? "#{@user.login}'s" : "" %> tweets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%=h tweet.user.login %></td>
    <td><%=h tweet.content %></td>
  </tr>
<% end %>
</table>
